<h3><%= @beer.name %> ABV: <%= @beer.abv %>%</h3>
<h4><%= @beer.brewery.name %></h4>
<p>How to make it: <%= @beer.recipe.description %></p>
<p>ingredients</p>

<% @beer.hops.each do |hop| %>
<p>hops: <%= hop.name %></p>
<% end %>

<% @beer.malts.each do |malt| %>
<p>malts: <%= malt.name %></p>
<% end %>
